{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>The Wolff Project</title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{% static "sass/css/mystyles.min.css" %}' rel="stylesheet">
  <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "site.webmanifest" %}">
  {% block headblock %}{% endblock headblock %}
  <script defer src='{% static "vendors/fontawesome.js" %}'></script>
</head>
<body>
  <div class="columns">
    <div class="column is-full">

    {% block header %}
      <nav id="navbar" class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="{% static 'wolf-project.png' %}" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" @click="toggleNavbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu" :class="{ 'is-active': active }">
          <div class="navbar-start">
            {% block navbaritems %}
              {% include "_snippets/navbar_items.html" %}
            {% endblock navbaritems %}
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if request.user.is_authenticated %}
                  <a class="button is-primary" href="#">
                    <strong>Hi {{user.username|title}}!</strong>
                  </a>
                  
                  <a class="button is-light" href="#">
                    Log out
                  </a>
                {% else %}
                  <a class="button is-light" href="#">
                    Log in
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    {% endblock header %}      
      
    </div>
  </div>

  <div class="columns is-gapless">
    <div class="column">

      {% if messages %}
        <article class="container message is-info" id="messages-container" v-show="!hidden">
          <div class="message-header">
            <p>Notifications</p>
            <button class="delete" aria-label="delete" @click="hidden=true"></button>
          </div>
          <div class="message-body">
            <ul>
              {% for message in messages %}
                <li class="is-{{ message.tags }} cursor-pointer" @click="hide($event)" title="click to hide"><u>{{message}}</u></li>
              {% endfor %}
            </ul>  
          </div>
        </article>
      {% endif %}

      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            {% block breadcrumbs %}{% endblock breadcrumbs %}
          </ul>
        </nav>
      </div>

      <main class="container">
        {% block main %}
        {% endblock main %}
      </main>
    </div>

    {% if user.is_authenticated %}
      <div class="column is-one-fifth">
        {% block aside_menu %}
        {% endblock aside_menu %}
      </div>
    {% endif %}
  </div><!--columns -->

    {% block footer %}
      
    {% endblock footer %}

  <script src='{% static "vendors/vue.js" %}'></script>

  {% block vueinstance %}

  {% endblock vueinstance %}
  
  <script>
    navbarVue = new Vue({
      el: '#navbar',
      delimiters: ['[[', ']]'],
      data: () => ({
        active: false
      }),
      methods: {
        toggleNavbarMenu: function () {
          this.active = !this.active
        }
      }
    });
  </script>

  {% if  messages %}
    <script>
      messagesContainerApp = new Vue({
        el: '#messages-container',
        delimiters: ['[[', ']]'],
        data: () => {
          return {
            hidden: false
          }
        },
        methods: {
          hide: function (e) {
            let target = e.target;
            target.attributes.class.value += ' is-hidden';
          }
        }
      });
    </script>
  {% endif %}

  {% block endscript %}{% endblock endscript %}
</body>
</html>